.album_frame {
    padding: 35px;
    width: 300x;
    height: 200px;
    border-radius: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  
    display: flex;
  
    background-color: white;
 
  }