*{
    margin:0;
    padding:0;
    box-sizing:border-box;
 }
#add:hover{
    transform:spin(-180deg)
}
 
.body{
    margin:0;
    padding:0;
}
.addNew {
    position: fixed;
    bottom: 10%;
    left: 90%;
    line-height: 1;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 0px;
    background: #fff;
    box-shadow: 0px 0px 10px #696565fb;
    font-size: 30px;
    z-index: 99999;
    cursor: pointer;
    transition:transform 0.3s,;
    
}

.addNew:hover{
    background:black;
    color:white;
 
    
    transform: rotate(360deg) scale(1.4) ;
   
    
}

.displayName{
 
    background: #f5f5f5b5;
 
    border-radius: 25px;
  }